@font-face {
    font-family: "American Typewriter";
    src: url("fonts/American Typewriter.ttf") format("ttf");
}
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
}
header {
    font-family: Montserrat;
    width: 100vw;
    font-size: 16px;
}
.container {
    width: 90vw;
    font-family: Montserrat;
    font-size: 18px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.topo {
    width: 100%;
}
.topo .logo {
    width: 100%;
    height: auto;
}
.topo .balls {
    width: 100%;
    margin-top: -5px;
}
.topo .balls img {
    width: 25%;
}
.balls .right {
    transform: scaleX(-1);
    float: right;
}
.title {
    font-size: 1.5em;
    text-align: center;
    line-height: 150%;
}
.title p:first-child {
    font-weight: bolder;
    color: #cd9f31;
}
.title p:last-child {
    font-size: 0.8em;
    color: #777777;
}
.title span {
    font-weight: bold;
    color: #db0452;
}
.depoimentos {
    position: relative;
    margin-top: 1rem;
}
.depoimentos .carousel {
    font-size: 1em;
    margin: 1.5rem 0;
    margin-left: 5vw;
    width: 80%;
}
.depoimentos .depoimento {
    width: 70%;
    margin: auto;
}
.depoimentos .autor {
    margin-top: 0.5rem;
}
.depoimentos .quote {
    position: absolute;
    font-size: 4rem;
    font-family: American Typewriter;
    color: #db0452;
    left: 1rem;
}
.depoimentos .local {
    font-size: 0.8em;
    font-weight: lighter;
    color: #7a7a7a;
}
.slick-prev::before, .slick-next::before {
    color: black;
}
#garantia {
    position: relative;
}

.card {
    padding: 1.2rem;
    box-shadow: 0 0 2em 0 rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
}
.card-title {
    margin-top: 0.5rem;
}
.card a {
    text-decoration: none;
    color: #000000;
}
.card p {
    font-size: 0.9em;
}
.ball img {
    position: relative;
    width: 60%;
    height: 60%;
    margin: 50%;
    transform: translate(-50%, -50%);
}
.price {
    margin-top: 1rem;
    background: rgba(255,255,255, 0.5);
    padding: 0.3rem;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
.price p {
    opacity: 1;
}
.price span {
    font-size: 1.2rem;
}
.checks {
    margin-top: 1.2rem;
    font-weight: bold;
    font-size: 1.2em;
}
.checks ul, #porque-usar ul {
    list-style: none;
}
#porque-usar {
    position: relative;
    height: auto;
}
#porque-usar ul li p {
    padding-left: 2rem;
}
#porque-usar .row:nth-child(2) {
    margin-top: 11rem;
}
#porque-usar > .row > p {
    font-size: 1.2em;
}
#porque-usar > h2 {
    text-transform: uppercase;
    text-align: center;
    color: #56691e;
    background: #ffff29;
    padding: 5px;
    transform: rotateZ(21deg);
    left: -16%;
    top: 7%;
    width: 150%;
    position: absolute;
}
#porque-usar > h2 > span {
    color: #ffffff;
    background: #56691e;
    padding: 3px;
}
.checks ul li::before, #porque-usar ul li::before {
    content: "\2713";
    background: rgba(143, 242, 137, 0.5);
    padding: 4px 0;
    border-radius: 50%;
    color: #24971d;
    font-weight: bold;
    display: inline-block;
    width: 24px;
    height: 15px;
    text-align: center;
    margin-right: 5px;
}
.row {
    margin-top: 1rem;
}
.btn {
    background: #24971d;
    border: none;
    padding: 12px;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
.fotos {
    margin: 6rem 0;
}
.fotos .foto {
    width: calc(50% - 1vw);
    display: inline-block;
}
.fotos .foto img {
    width: calc(100% - 10px);
    border: 4px solid white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.full {
    margin-left: -5vw;
    width: 100vw;
    padding: 0;
}
.full * {
    width: 100%;
}
#foto-1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#depoimento-2 .quote {
    top: -2rem;
}
#depoimento-3 {
    display: flex;
    flex-direction: row;
}
#depoimento-3 .col-6:first-child {
    padding-left: 3em;
}
#depoimento-3 p.depoimento {
    margin-top: 3rem;
}
#combos {
    margin-bottom: 1rem;
}
#combos .card {
    margin-top: 1rem;
}
#combos .card-title {
    font-size: 2rem;
}
#video {
    margin-top: 3rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
#video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
#tree {
    position: absolute;
    bottom: -5em;
    right: -3em;
    width: 40%;
}
#tree img {
    width: 100%;
}
svg {
    position: relative;
}
#cards-1 .ball img {
    width: 100%;
    height: 100%;
}
.destaque {
    background: #fcbf39;
    padding: 2px 5px;
}
.old-price {
    text-decoration: line-through;
    color: #e3a724;
}
.new-price {
    font-size: 1.5em;
}
@media screen and (min-width: 1024px) {
    header {
        font-size: 24px;
    }
    .container {
        font-size: 14px;
    }
    #tree {
        bottom: -1em;
        width: 50%;
    }
}