@font-face {
    font-family: "American Typewriter";
    src: url("/fonts/American Typewriter.ttf") format("ttf");
}
* {
    margin: 0;
    padding: 0;
}
header {
    font-family: Montserrat;
    width: 100vw;
    font-size: 16px;
}
.container {
    width: 90vw;
    font-family: Montserrat;
    font-size: 12px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.topo {
    width: 100%;
}
.topo .logo {
    width: 100%;
    height: auto;
}
.topo .balls {
    width: 100%;
    margin-top: -5px;
}
.topo .balls img {
    width: 25%;
}
.balls .right {
    transform: scaleX(-1);
    float: right;
}
.title {
    font-size: 1.2em;
    text-align: center;
    line-height: 150%;
}
.title p:first-child {
    font-weight: bolder;
    color: #cd9f31;
}
.title p:last-child {
    font-size: 0.7em;
}
.title span {
    font-weight: bold;
    color: #db0452;
}
.depoimentos {
    position: relative;
    margin-top: 1rem;
}
.depoimentos .carousel {
    font-size: 1em;
    margin: 1.5rem 0;
    margin-left: 5vw;
    width: 80vw;
}
.depoimentos .depoimento {
    width: 70%;
    margin: auto;
}
.depoimentos .autor {
    margin-top: 0.5rem;
}
.depoimentos .quote {
    position: absolute;
    font-size: 4rem;
    font-family: American Typewriter;
    color: #db0452;
    left: 1rem;
}
.slick-prev::before, .slick-next::before {
    color: black;
}
#garantia {
    position: relative;
}
.card {
    padding: 1.2rem;
    box-shadow: 0 0 2em 0 rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
}
.card-title {
    margin-top: 0.5rem;
}
.card a {
    text-decoration: none;
    color: #000000;
}
.card p {
    font-size: 0.9em;
}
#video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
#video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}