.bold {
    font-weight: bold;
}
.txt-500 {
    font-weight: 500;
}
.txt-600 {
    font-weight: 600;
}
.txt-700 {
    font-weight: 700;
}
.lighter {
    font-weight: lighter;
}
.ball {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.ball.large {
    height: 100px;
    width: 100px;
}
.ball.half {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.yellow {
    background-color: #fcbf39;
}
.blue {
    background-color: #0abede;
}
.fuschia {
    background-color: #d60ade;
}
.green {
    background-color: #24971d;
}
.txt-center {
    text-align: center;
}
.center {
    align-self: center;
}
.txt-shadow {
    text-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
.txt-pink {
    color: #db0452;
}
.txt-fuschia {
    color: #d60ade;
}
.txt-blue {
    color: #0abede;
}
.txt-green {
    color: #25981e;
}
.shadow {
    box-shadow: 3px 3px 0 rgba(0,0,0,0.2);
}
.row {
    display: inline;
}
.row .col-6 {
    width: calc(50% - 1vw);
}
.row.full .col-6 {
    width: 50%;
}
.col-12 {
    margin-top: 1em;
}
.col-12 *:not(.full), .col-6 *:not(.full) {
    max-width: 100%;
}
.mobile-only {
    display: inline-block;
}
.desktop-only {
    display: none;
}
@media screen and (min-width: 1024px) {
    #video {
        top: -150px;
    }
    svg {
        position: absolute;
    }
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: inline-block;
    }
    header {
        width: 60vw;
        margin: auto;
    }
    .container {
        width: 50vw;
    }
    .full {
        width: 100%;
        margin-left: 0;
    }
    .row .col-d-4 {
        width: calc(33.3333% - 1vw);
        display: inline-block;
        margin-right: 5px;
    }
    .col-d-6 {
        width: calc(50% - 1vw);
        display: inline-block;
        position: relative;
    }
}