.bold {
    font-weight: bold;
}
.ball {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.ball.large {
    height: 100px;
    width: 100px;
}
.ball.half {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.yellow {
    background: #fcbf39;
}
.txt-center {
    text-align: center;
}
.center {
    align-self: center;
}
.txt-shadow {
    text-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
.shadow {
    box-shadow: 3px 3px 0 rgba(0,0,0,0.2);
}